# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- popular languages that Data Scientists use
- commonly used libraries used by Data Scientists
- Data Science Tools
- evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python 
2. SQL
3. R
4. Scala
5. Java
6. julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas
4. SciPy

| Data Science Tools   | 
| -------------------- |
| Jupyter Notebooks  | 
| R Studio | 
|  Anaconda  | 
|  VS Studio  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [32]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [34]:
# This will convert 200 minutes to hours by diving by 60.

minute = 200

hour = minute/60

print( "hour = \t", hour)

hour = 	 3.3333333333333335

#### Author 
Midhun Chandran